# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
fastapi
Pillow
python-multipart
uvicorn
nltk==3.8.1
pandas
numpy
TextBlob